
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Wordly game!</h5>
      <p class="card-text">
        <p style="color:#888;">Do you want to play some super amazing, perfect, incredible WORDLY game?</p>
        <p><%= link_to "Start GAME" , check_word_path %></p>

        <div style="white-space:pre">
    <b>HOW TO PLAY</b>

    Guess the correct word in 6 tries.

    Each guess must be a valid 5 letter word
    with non repeating letters.

    After a guess, the tile colors will change to
    show how close your guess was to the word.


    <span style="background-color:#ddd;"> A </span> - Not in the word in any spot

    <span style="background-color:#fef9cc;"> A </span> - In the word but in the wrong spot

    <span style="background-color:#ccfecf;"> A </span> - in the word and in the correct spot
</div>

<pre>
<br>
<b> Next Puzzle: </b><%= time_till_next_game %>
<br>
</pre>


        </p>
    </div>
</div>
